[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/yuioto/Desktop/chrbuttons]
row=3
col=13

[/home/yuioto/Desktop/Firefox-UI-Fix]
row=5
col=13

[/home/yuioto/Desktop/Quartz-Green-main]
row=2
col=13

[/home/yuioto/Desktop/extension]
row=6
col=13

[/home/yuioto/Desktop/quartz-green]
row=4
col=13

[0eb210d2-8e12-4a29-bfd5-f1aaaaa5f0b1]
row=0
col=12

[Wastebasket]
row=1
col=12

[/]
row=1
col=13

[/home/yuioto]
row=0
col=13

