[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=ws.neko
Comment=Telegram proxy for ws.neko
Exec=java -jar ~/App/ws.neko.jar
RunHook=0
StartupNotify=false
Terminal=false
Hidden=false

